# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# dataset
data/*
!data/presents

# eval
eval/results/*

# backbone & weights
weights/*
!weights/pretrained
weights/pretrained/*

# log
log/*

# export model
export/*.onnx